In [1]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv('movie_data.csv')

In [5]:
df.head()

                                              review  sentiment
0  My family and I normally do not watch local mo...          1
1  Believe it or not, this was at one time the wo...          0
2  After some internet surfing, I found the "Home...          0
3  One of the most unheralded great works of anim...          1
4  It was the Sixties, and anyone with long hair ...          0

In [6]:
df.shape

(50000, 2)

In [7]:
choices = pd.Series(['Male','Female'])
gender = choices.sample(n=50000,replace=True)

In [13]:
df['gender'] = gender.values

In [14]:
df.head()

                                              review  sentiment gender
0  My family and I normally do not watch local mo...          1   Male
1  Believe it or not, this was at one time the wo...          0   Male
2  After some internet surfing, I found the "Home...          0   Male
3  One of the most unheralded great works of anim...          1   Male
4  It was the Sixties, and anyone with long hair ...          0   Male

In [15]:
from sklearn.feature_extraction.text import CountVectorizer

In [16]:
count = CountVectorizer()

In [19]:
from nltk.stem.porter import PorterStemmer

In [18]:
port = PorterStemmer()

^C
ERROR: Operation cancelled by user